<%- model_class = Shop -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @shop.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kana) %>:</strong></dt>
  <dd><%= @shop.kana %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tel) %>:</strong></dt>
  <dd><%= @shop.tel %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_weekdays) %>:</strong></dt>
  <dd><%= @shop.time_weekdays %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_sat) %>:</strong></dt>
  <dd><%= @shop.time_sat %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_sun) %>:</strong></dt>
  <dd><%= @shop.time_sun %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_holidays) %>:</strong></dt>
  <dd><%= @shop.time_holidays %></dd>
  <dt><strong><%= model_class.human_attribute_name(:closed_days) %>:</strong></dt>
  <dd><%= @shop.closed_days %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              shops_path, :class => 'btn btn-default'  %>
