<%- model_class = AssignRentalItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:rental_order_id) %>:</strong></dt>
  <dd><%= @assign_rental_item.rental_order_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rentable_item_id) %>:</strong></dt>
  <dd><%= @assign_rental_item.rentable_item_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:num) %>:</strong></dt>
  <dd><%= @assign_rental_item.num %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              assign_rental_items_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_assign_rental_item_path(@assign_rental_item), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              assign_rental_item_path(@assign_rental_item),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
