<p id="notice"><%= notice %></p>

<h1>Listing Stage Common Options</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Own equipment</th>
      <th>Bgm</th>
      <th>Camera permittion</th>
      <th>Loud sound</th>
      <th>Stage content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stage_common_options.each do |stage_common_option| %>
      <tr>
        <td><%= stage_common_option.group %></td>
        <td><%= stage_common_option.own_equipment %></td>
        <td><%= stage_common_option.bgm %></td>
        <td><%= stage_common_option.camera_permittion %></td>
        <td><%= stage_common_option.loud_sound %></td>
        <td><%= stage_common_option.stage_content %></td>
        <td><%= link_to 'Show', stage_common_option %></td>
        <td><%= link_to 'Edit', edit_stage_common_option_path(stage_common_option) %></td>
        <td><%= link_to 'Destroy', stage_common_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage common option', new_stage_common_option_path %>
