<%= simple_form_for(@stage_order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :group %>
    <%= f.input :is_sunny %>
    <%= f.association :fes_date %>
    <%= f.input :stage_first %>
    <%= f.input :stage_second %>
    <%= f.input :time %>
    <%= f.input :own_equipment %>
    <%= f.input :bgm %>
    <%= f.input :camera_permittion %>
    <%= f.input :loud_sound %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
