<%= "#{@stage_order.date}, #{@stage_order.tenki}の申請" %>

<%= simple_form_for @stage_order, wrapper: "horizontal_form", :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :group_id %>
  <%= f.hidden_field :is_sunny %>
  <%= f.hidden_field :fes_date_id %>

  <%= f.input :stage_first,
    collection: Stage.by_weather(@stage_order.is_sunny),
    selected: @stage_order.stage_first %>
  <%= error_span(@stage_order[:stage_first]) %>

  <%= f.input :stage_second,
    collection: Stage.by_weather(@stage_order.is_sunny),
    selected: @stage_order.stage_second %>
  <%= error_span(@stage_order[:stage_second]) %>

  <% 
    time_point = [["", ""]] 
    (8..21).each do |h|
        %w(00 15 30 45).each do |m|
          time_point.push ["#{"%02d" % h}:#{m}","#{"%02d" % h}:#{m}"]
        end
    end

    time_interval = [["", ""],
                     ["30m", "30m"],
                     ["1h", "1h"],
                     ["1h30m", "1h30m"],
                     ["2h", "2h"]] 
  %>
  <div class="col-sm-3">
  </div>
  <p class="text-muted col-sm-9">
  時間は次のいずれかの方法で入力してください<br>
  ・開始時刻と終了時刻を入力する<br>
  ・使用時間幅を入力する
  </p>
  <%= f.input :time_point_start,
    as: :select, 
    collection: time_point,
    selected: @stage_order.time_point_start
  %>
  <%= f.input :time_point_end,
    as: :select, 
    collection: time_point,
    selected: @stage_order.time_point_end,
    hint: t(".hint_time_point")
  %>
  <%= f.input :time_interval,
    as: :select, 
    collection: time_interval,
    selected: @stage_order.time_interval,
    hint: t(".hint_time_interval")
  %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stage_orders_path, :class => 'btn btn-default' %>
<% end %>
