<%- model_class = StageOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:group_name) %></th>
      <th><%= model_class.human_attribute_name(:is_sunny) %></th>
      <th><%= model_class.human_attribute_name(:fes_date_id) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stage_orders.each do |stage_order| %>
      <tr>
        <td><%= stage_order.group_id %></td>
        <td><%= stage_order.is_sunny %></td>
        <td><%= stage_order.fes_date_id %></td>
        <td><%= stage_order.time %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_stage_order_path(stage_order), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      stage_order_path(stage_order),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_stage_order_path,
            :class => 'btn btn-primary' %>
