<%- model_class = StageOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:group_name) %></th>
      <th><%= model_class.human_attribute_name(:fes_date_id) %></th>
      <th><%= model_class.human_attribute_name(:is_sunny) %></th>
      <th><%= model_class.human_attribute_name(:time_point_start) %></th>
      <th><%= model_class.human_attribute_name(:time_point_end) %></th>
      <th><%= model_class.human_attribute_name(:time_interval) %></th>
      <th><%= model_class.human_attribute_name(:stage_first) %></th>
      <th><%= model_class.human_attribute_name(:stage_second) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stage_orders.each do |stage_order| %>
      <tr>
        <td><%= stage_order.group.name %></td>
        <td><%= stage_order.date %></td>
        <td><%= stage_order.tenki %></td>
        <td><%= stage_order.time_point_start %></td>
        <td><%= stage_order.time_point_end %></td>
        <td><%= stage_order.time_interval %></td>
        <td><%= stage_order.stage_first ? stage_order.kibou1 : "未回答" %></td>
        <td><%= stage_order.stage_second ? stage_order.kibou2 : "未回答" %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_stage_order_path(stage_order), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              welcome_index_path, :class => 'btn btn-default'  %>
