<%- model_class = StageOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:group_name) %>:</strong></dt>
  <dd><%= @stage_order.group.name%></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_sunny) %>:</strong></dt>
  <dd><%= @stage_order.tenki %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fes_date_id) %>:</strong></dt>
  <dd><%= @stage_order.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stage_first) %>:</strong></dt>
  <dd><%= @stage_order.kibou1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stage_second) %>:</strong></dt>
  <dd><%= @stage_order.kibou2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time) %>:</strong></dt>
  <dd><%= @stage_order.time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:own_equipment) %>:</strong></dt>
  <dd><%= @stage_order.own_equipment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bgm) %>:</strong></dt>
  <dd><%= @stage_order.bgm %></dd>
  <dt><strong><%= model_class.human_attribute_name(:camera_permittion) %>:</strong></dt>
  <dd><%= @stage_order.camera_permittion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:loud_sound) %>:</strong></dt>
  <dd><%= @stage_order.loud_sound %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              stage_orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_stage_order_path(@stage_order), :class => 'btn btn-default' %>
