<p id="notice"><%= notice %></p>

<h1>Listing Rental Orders</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Rental item</th>
      <th>Num</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_orders.each do |rental_order| %>
      <tr>
        <td><%= rental_order.group %></td>
        <td><%= rental_order.rental_item %></td>
        <td><%= rental_order.num %></td>
        <td><%= link_to 'Show', rental_order %></td>
        <td><%= link_to 'Edit', edit_rental_order_path(rental_order) %></td>
        <td><%= link_to 'Destroy', rental_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental order', new_rental_order_path %>
