<%- model_class = RentalOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:group_name) %></th>
      <th><%= model_class.human_attribute_name(:rental_item_name_ja) %></th>
      <th><%= model_class.human_attribute_name(:num) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rental_orders.each do |rental_order| %>
      <tr>
        <td><%= link_to rental_order.id, rental_order_path(rental_order) %></td>
        <td><%= rental_order.group.name%></td>
        <td><%= rental_order.rental_item.name_ja %></td>
        <td><%= rental_order.num %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_rental_order_path(rental_order), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rental_order_path,
            :class => 'btn btn-primary' %>
