<%- model_class = RentalOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:group_id) %>:</strong></dt>
  <dd><%= @rental_order.group_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rental_item_id) %>:</strong></dt>
  <dd><%= @rental_order.rental_item_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:num) %>:</strong></dt>
  <dd><%= @rental_order.num %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              rental_orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_rental_order_path(@rental_order), :class => 'btn btn-default' %>
