<%= render 'dashboard' %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">参加団体</h3>
  </div>
  <div class="panel-body">
    模擬店, 展示, ステージ企画などを希望する団体はこちら。
    <%= link_to t('welcome_controller.index'),
            groups_path,
            :class => 'btn btn-default' %>
    <%= link_to t('welcome_controller.new'),
            new_group_path,
            :class => 'btn btn-primary' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">物品貸出</h3>
  </div>
  <div class="panel-body">
    技大祭で使用する物品を貸し出します。<br>
    対象: 全ての団体
    <%= link_to t('welcome_controller.index'),
            rental_orders_path,
            :class => 'btn btn-default' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">使用電力</h3>
  </div>
  <div class="panel-body">
    電力を使用する団体はこちらから申請して下さい。<br>
    対象: 参加形式が「模擬店(食品販売，物品販売)」，「展示・体験」，「その他」の団体
    <%= link_to t('welcome_controller.index'),
            power_orders_path,
            :class => 'btn btn-default' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">実施場所</h3>
  </div>
  <div class="panel-body">
    模擬店，体験・展示等を行う団体はこちらから申請して下さい。<br>
    対象: 参加形式が「模擬店(食品販売，物品販売)」，「展示・体験」，「その他」の団体
    <%= link_to t('welcome_controller.index'),
            place_orders_path,
            :class => 'btn btn-default' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">ステージ利用</h3>
  </div>
  <div class="panel-body">
    ステージを利用する団体はこちらから申請して下さい。<br>
    対象: 参加形式が「ステージ企画」の団体
    <%= link_to t('welcome_controller.index'),
            stage_orders_path,
            :class => 'btn btn-default' %>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">従業員登録</h3>
  </div>
  <div class="panel-body">
    模擬店で食品を取り扱う団体はこちらから従業員を登録して下さい。<br>
    対象: 参加形式が「模擬店(食品販売)」の団体
    <%= link_to t('welcome_controller.index'),
            employees_path,
            :class => 'btn btn-default' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">販売食品の登録</h3>
  </div>
  <div class="panel-body">
    模擬店で販売する食品を登録して下さい。<br>
    対象: 参加形式が「模擬店(食品販売)」の団体
    <%= link_to t('welcome_controller.index'),
            food_products_path,
            :class => 'btn btn-default' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">販売食品の提供品・材料の登録</h3>
  </div>
  <div class="panel-body">
    模擬店で販売する食品の提供品(提供の場合)，材料(調理品の場合)の購入日と購入先を登録して下さい。<br>
    対象: 参加形式が「模擬店(食品販売)」の団体<br>
    <%= link_to t('調理品材料の一覧'),
            index_cooking_purchase_lists_path,
            :class => 'btn btn-default' %>
    <%= link_to t('提供品の一覧'),
            index_noncooking_purchase_lists_path,
            :class => 'btn btn-default' %>
    <%= link_to t('選択可能な仕入先の一覧'),
            shops_path,
            :class => 'btn btn-default' %>
  </div>
</div>
