<%= render 'dashboard' %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">参加団体 申請</h3>
  </div>
  <div class="panel-body">
    模擬店, 展示, ステージ企画などを希望する団体はこちら。
    <%= link_to t('welcome_controller.index'),
            groups_path,
            :class => 'btn btn-default' %>
    <%= link_to t('welcome_controller.new'),
            new_group_path,
            :class => 'btn btn-primary' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">物品貸出</h3>
  </div>
  <div class="panel-body">
    技大祭で使用する物品を貸し出します。
    <%= link_to t('welcome_controller.index'),
            rental_orders_path,
            :class => 'btn btn-default' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">使用電力申請</h3>
  </div>
  <div class="panel-body">
    模擬店，展示・体験企画で使用する電力の申請が可能です。
    <%= link_to t('welcome_controller.index'),
            power_orders_path,
            :class => 'btn btn-default' %>
  </div>
</div>
