<style type='text/css'>
   body {
       font-family: "IPAGothic"
   }
  table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;
    table-layout: fixed; 
  }
  caption, th, td {
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    border: solid 1px;
    padding: 0.5em;
  }
  .pagebreak{
    page-break-after: always;
  }
</style>
<% employee_count = 0 %>
<% rows_per_page = 24 # 1ページに表示する行数 %>
<% @employees_uniq.each_with_index do |employee, i| %>
  <% if i % rows_per_page == 0 then %>
    <div class='pagebreak'>
    <h2 align='center'>
        検便業者提出用書類 <%= "(#{i / rows_per_page + 1} / 
                              #{(@employees.size / rows_per_page.to_f).ceil})" %>
    </h2>
    <table align='center' width="100%">
        <thead>
          <tr>
            <td width="50%">団体名</td>
            <td width="50%">名前</td>
          </tr>
        </thead>
        <tbody>
  <% end %>
          <tr>
            <% if is_next_group(@employees_uniq, employee, i) then %>
              <% employee_count = 0 %>
              <td rowspan= <%= count_in_group(@employees_uniq, employee.group_id) %>><%= employee.group.name %></td>
            <% elsif i % rows_per_page == 0 then %>
              <td rowspan= <%= count_in_group(@employees_uniq, employee.group_id) - employee_count %>><%= employee.group.name %></td>
            <% end %>
            <td style="font-size : <%= size_calibration(employee.name) %>"><%= employee.name %></td>
            <% employee_count += 1 %>
          </tr>
  <% if i % rows_per_page == rows_per_page - 1 then %>
        </tbody>
      </tbody>
    </table>
    </div>
  <% end %>
<% end %>
