<style type='text/css'>
  table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
  }
  caption, th, td {
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    border: solid 1px;
    padding: 0.5em;
  }
  .pagebreak{
    page-break-after: always;
  }
</style>
<% employee_count = 0 %>
<% rows_per_page = 24 # 1ページに表示する行数 %>
<% @employees.each_with_index do |employee, i| %>
  <% if i % rows_per_page == 0 then %>
    <div class='pagebreak'>
    <h2 align='center'>
        検便_保健所提出書類 <%= "(#{i / rows_per_page + 1} / 
                              #{(@employees.size / rows_per_page.to_f).ceil})" %>
    </h2>
    <table align='center'>
        <thead>
          <tr>
            <td width="17%">団体名</td>
            <td width="25%">氏名</td>
            <td width="12%">役職</td>
            <td width="13%">検便実施日</td>
            <td width='33%'>備考</td>
          </tr>
        </thead>
        <tbody>
  <% end %>
          <tr>
            <% if is_next_group(employee, i) then %>
              <% employee_count = 0 %>
              <td rowspan= <%= count_in_group(employee.group_id) %>><%= employee.group.name %></td>
            <% elsif i % rows_per_page == 0 then %>
              <td rowspan= <%= count_in_group(employee.group_id) - employee_count %>><%= employee.group.name %></td>
            <% end %>
            <td style="font-size : <%= size_calibration(employee.name) %>"><%= employee.name %></td>
            <td><%= employee.employee_category.to_s %></td>
            <td><%= @date_of_stool_test %></td>
            <td style="font-size : 12px"><%= already_collected(employee) %></td>
            <% employee_count += 1 %>
          </tr>
  <% if i % rows_per_page == rows_per_page - 1 then %>
        </tbody>
      </tbody>
    </table>
    </div>
  <% end %>
<% end %>
