<%- model_class = PurchaseList -%>
<div class="page-header">
  <h1><%= "調理品材料の" %>
  <%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:food_product) %></th>
      <th><%= model_class.human_attribute_name(:is_fresh) %></th>
      <th><%= model_class.human_attribute_name(:fes_date) %></th>
      <th><%= model_class.human_attribute_name(:shop) %></th>
      <th><%= model_class.human_attribute_name(:items) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_lists.each do |purchase_list| %>
      <tr>
        <td><%= purchase_list.food_product.name %></td>
        <td><%= purchase_list.fresh %></td>
        <td><%= purchase_list.fes_date.date %></td>
        <td><%= purchase_list.shop.name %></td>
        <td><%= purchase_list.items %></td>
        <td>
          <%= show_edit_botton(edit_purchase_list_path(purchase_list), purchase_list) %>
          <%= show_destroy_botton(purchase_list_path(purchase_list), purchase_list) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% fes_dates = FesYear.this_year.fes_date.all%>

<p>
<% @fes_dates.each do |fesdate| %>
  <%= show_new_fresh(fesdate) %>
<% end %>
<%= render :partial => 'warnign_fresh' %>
</p>

<p>
<% @fes_dates.each do |fesdate| %>
  <%= show_new_nonfresh(fesdate) %>
<% end %>
<%= render :partial => 'warnign_preserved' %>
</p>
