<%- model_class = PurchaseList -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:food_product_id) %>:</strong></dt>
  <dd><%= @purchase_list.food_product_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shop_id) %>:</strong></dt>
  <dd><%= @purchase_list.shop_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fes_date_id) %>:</strong></dt>
  <dd><%= @purchase_list.fes_date_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_fresh) %>:</strong></dt>
  <dd><%= @purchase_list.is_fresh %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              purchase_lists_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_purchase_list_path(@purchase_list), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              purchase_list_path(@purchase_list),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
