<%- model_class = FoodProduct -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:group) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:first_day_num) %></th>
      <th><%= model_class.human_attribute_name(:second_day_num) %></th>
      <th><%= model_class.human_attribute_name(:is_cooking) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @food_products.each do |food_product| %>
      <tr>
        <td><%= food_product.group %></td>
        <td><%= food_product.name %></td>
        <td><%= food_product.first_day_num %></td>
        <td><%= food_product.second_day_num %></td>
        <td><%= food_product.disp_cooking %></td>
        <td>
          <%= show_edit_botton(edit_food_product_path(food_product), food_product) %>
          <%= show_destroy_botton(food_product_path(food_product), food_product) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              welcome_index_path, :class => 'btn btn-default'  %>
<%= show_new_with_group(FoodProduct, new_food_product_path) %>
