<%- model_class = SubRep -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:group_id) %>:</strong></dt>
  <dd><%= @sub_rep.group_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name_ja) %>:</strong></dt>
  <dd><%= @sub_rep.name_ja %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name_en) %>:</strong></dt>
  <dd><%= @sub_rep.name_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:department_id) %>:</strong></dt>
  <dd><%= @sub_rep.department_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grade_id) %>:</strong></dt>
  <dd><%= @sub_rep.grade_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tel) %>:</strong></dt>
  <dd><%= @sub_rep.tel %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @sub_rep.email %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              sub_reps_path, :class => 'btn btn-default'  %>
<%= show_edit_botton(edit_sub_rep_path(@sub_rep), @sub_rep) %>
<%= show_destroy_botton(sub_rep_path(@sub_rep), @sub_rep) %>
