<%= simple_form_for(@power_order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :group %>
    <%= f.input :item %>
    <%= f.input :power %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
