<%- model_class = PowerOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:group_name) %></th>
      <th><%= model_class.human_attribute_name(:item) %></th>
      <th><%= model_class.human_attribute_name(:power) %></th>
      <th><%= model_class.human_attribute_name(:manufacturer) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @power_orders.each do |power_order| %>
      <tr>
        <td><%= power_order.group.name %></td>
        <td><%= power_order.item %></td>
        <td><%= power_order.power %></td>
        <td><%= power_order.manufacturer %></td>
        <td><%= power_order.model %></td>
        <td>
          <%= show_edit_botton(edit_power_order_path(power_order), power_order) %>
          <%= show_destroy_botton(power_order_path(power_order), power_order) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              welcome_index_path, :class => 'btn btn-default'  %>
<%= show_new_with_group(PowerOrder, new_power_order_path) %>
