<%- model_class = PlaceOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:group_name) %></th>
      <th><%= model_class.human_attribute_name(:first) %></th>
      <th><%= model_class.human_attribute_name(:second) %></th>
      <th><%= model_class.human_attribute_name(:third) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @place_orders.each do |place_order| %>
      <tr>
        <td><%= place_order.group.name %></td>
        <td><%= place_order.first  ? Place.find(place_order.first)  : "未回答" %></td>
        <td><%= place_order.second ? Place.find(place_order.second) : "未回答" %></td>
        <td><%= place_order.third  ? Place.find(place_order.third)  : "未回答" %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_place_order_path(place_order), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              welcome_index_path, :class => 'btn btn-default'  %>
