<%- model_class = PlaceOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:group_name) %>:</strong></dt>
  <dd><%= @place_order.group.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first) %>:</strong></dt>
  <dd><%= Place.find(@place_order.first) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:second) %>:</strong></dt>
  <dd><%= Place.find(@place_order.second) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:third) %>:</strong></dt>
  <dd><%= Place.find(@place_order.third) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              place_orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_place_order_path(@place_order), :class => 'btn btn-default' %>
